// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*
.background{
	position: relative;
	background-image: image-url('mountain.jpeg');
	background-size:100% auto;
}*/


.background{
    position: relative;
   
}
.main_image{
   
}
.overlay_image{
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background: red;
}