// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*
.background{
	position: relative;
	background-image: image-url('mountain.jpeg');
	background-size:100% auto;
}*/


.background{
    position: relative;
   
}
.main_image{
   
}
.overlay_image {
    position: absolute;
    bottom: -600px;
    right: 100px;
    width: 800px;
    height: 160px;
    /*background: #0066CC;*/
    /*opacity: 0.35;*/
    background: rgba(0, 102, 204, 0.35); /* use rgba */
}

.slogan{
    color: white;
     opacity: 1;
}